@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINish';
  src: url('./assets/fonts/DINish-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'DINish';
  src: url('./assets/fonts/DINish-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton SC';
  src: url('./assets/fonts/AntonSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'DINish', 'Anton SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
