.footer {
    background-color: #4C0080;
    color: #FFFFFF;
    padding: 25px 40px;
    width: 100%;
    box-sizing: border-box;
    font: 'Inter', sans-serif;
    bottom: 0;
    position: fixed;
}

.copyright {
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: 800;
    text-align: right;
}