.footer {
    background-color: #4C0080;
    color: #FFFFFF;
    height: 116px;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 'Inter', sans-serif;
}

.copyright {
    margin: 0;
    font-size: 22px;
    font-weight: 800;
}