.footer {
    background-color: #4C0080;
    color: #FFFFFF;
    height: 72px;
    padding: 0 25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 'DINish', Black;
}

.copyright {
    margin: 0;
    font-size: 25px;
    font-weight: 800;
}