.header {
    height: 72px;
    background-color: #4C0080;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    font: 'Inter', sans-serif;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
}

.directory {
    font-weight: 800;
    display: flex;
    gap: 48px;
    font-size: 22px;
}